.mediaTitle{
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // color: rgba(216, 214, 214, 0.89);
}
.mediaBtn{
    width: 25%;
    height: auto;
    border: 2px solid rgba(15, 39, 255, 0.753);
    border-bottom: 0 solid transparent;
    border-radius: 15px 15px 0 0;
    background-color:transparent;
    // color: rgb(192, 192, 192);
}
.mediaBtnActive{
    width: 25%;
    height: auto;
    border: 2px solid rgba(15, 39, 255, 0.753);
    border-bottom: 0 solid transparent;
    border-radius: 15px 15px 0 0;
    background-color: transparent;
    // color: rgb(192, 192, 192);
}
.media {
    overflow:hidden;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0 solid transparent;
    padding: 20px;
    margin-bottom: 40px;
}

.mediaImage {
    height: 140px;
    width: 50%;
    object-fit: cover;
    border: 2px solid rgba(170, 170, 170, 0.959);
}


.mediaVoice{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding-bottom: 5px;
    // border-bottom: 1px dotted rgba(148, 148, 148, 0.849);
    text-decoration: none;
    // color: rgba(180, 180, 180, 0.952);
    &>div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
    &>a{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
}

.mediaFile{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    &>div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (min-width: 300px) {
    .mediaImage {
        height: 140px;
        width: 50%;

        object-fit: cover;
    }
}

@media (min-width: 576px) {
    .mediaImage {
        height: 140px;
        width: 50%;

        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .mediaImage {
        height: 170px;
        width: 33.3%;

        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .mediaImage {
        height: 200px;
        width: 33.3%;

        object-fit: cover;
    }
}

@media (min-width: 1200px) {
    .mediaImage {
        height: 250px;
        width: 25%;

        object-fit: cover;
    }
}

@media (min-width: 1400px) {
    .mediaImage {
        height: 250px;
        width: 25%;

        object-fit: cover;
    }
}
