.container {
    height: auto;
    width: 100%;
}

.file {
    width: 100%;
    height: 55px;
    padding: 4px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.downloadBtn {
    width: 47px;
    height: 47px;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px #ffffff47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.fileDetail {
    width: 70%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.fileName {
    height: 46%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
}

.fileSize {
    height: 46%;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
