.cardHeaderContainer {
    position: relative !important;
    top: 5px;
    left: 0;
    height: 80px;
    background-color: transparent;
    z-index: 10;
    // color: rgb(202, 202, 202);
    padding: 3px;
    margin: 0;
}

.cardHeader {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: clip;
    overflow-y: visible;
}

.userAvatar {
    // position: absolute;
    // top: 1%;
    // left: 5px;
    height: auto;
    width: auto;
    & > div {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.userStatus {
    position: absolute;
    top: 55px;
    left: 55px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgb(219, 219, 219);
}

.userName {
    position: absolute;
    top: 10px;
    left: 85px;
    font-size: x-large;
    font-weight: bolder;
    max-width: 210px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    cursor: pointer;
}

.networkStatus {
    position: absolute;
    top: 40px;
    left: 85px;
    font-weight: bolder;
}

.chatSetting {
    position: absolute;
    top: 25%;
    right: 5px;
    background-color: transparent;
}



@media (max-width: 576px) {
    .cardHeaderContainer {
        position: relative !important;
        top: 5px;
        left: 0;
        height: 80px;
        // background-color: rgb(17, 33, 83);
        z-index: 10;
        // color: rgb(202, 202, 202);
        padding: 3px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .cardHeaderContainer {
        position: relative !important;
        top: 5px;
        left: 0;
        height: 80px;
        // background-color: rgb(17, 33, 83);
        z-index: 10;
        // color: rgb(202, 202, 202);
        padding: 3px;
        margin: 0;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}
