.cardFooterContainer {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cardFooter {
    height: 100%;
    margin-bottom: auto;
}

.searchInputContainer{
    height: 100%;
    width: inherit;
    padding: 0 10px;
    border: 0 solid transparent;
}

.searchInput {
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: inset 0 0 40px 10px #ffffff21;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 10px;
    outline: none;
    &:focus {
        background-color: transparent;
        box-shadow: inset 0 0 40px 10px #ffffff21;
    }
    &:placeholder-shown {
        color: #112153;
    }
}

.searchBtn {
    background-color: transparent;
    border: 0 solid transparent;
    padding: 2px;
    & > svg {
        transition: all 2s ease-in;
        transform: rotate(90deg);
    }
}

@media (max-width: 576px) {
    .cardFooterContainer {
        height: 60px;
    }
}

@media (max-width: 768px) {
    .cardFooterContainer {
        height: 60px;
    }
}
