.displayOnHover {
    background-color: transparent;
    z-index: 100;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    & > * {
        transform: translateY(+200%);
    }
    &:hover > * {
        transform: translateY(0);
    }
}
