.contentSection {
    height: 100%;
    padding: 10px;
    overflow: hidden;
    padding-top: 80px;
}
.contentAsideIsOpen {
    width: 80%;
    // @keyframes decreaseWidth1 {
    //     from {
    //         width: 95%;
    //     }
    //     to {
    //         width: 80% !important;
    //     }
    // }
    // animation: decreaseWidth1 1s 0.1s normal backwards;
    @media screen and (max-width: 700px) {
        width: 70%;
        // @keyframes decreaseWidth2 {
        //     from {
        //         width: 90%;
        //     }
        //     to {
        //         width: 70%;
        //     }
        // }
        // animation: decreaseWidth2 1s 0.1s normal backwards;
    }
}
.contentAsideIsClose {
    width: 95%;
    // @keyframes increaseWidth1 {
    //     from {
    //         width: 80%;
    //     }
    //     to {
    //         width: 95%;
    //     }
    // }
    // animation: increaseWidth1 1s 0.1s normal forwards;
    @media screen and (max-width: 700px) {
        width: 90%;
        // @keyframes increaseWidth2 {
        //     from {
        //         width: 70%;
        //     }
        //     to {
        //         width: 90%;
        //     }
        // }
        // animation: increaseWidth2 1s 0.1s normal forwards;
    }
}

.contentsContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

// .cardContainer {
//     height: 120px;
//     width: 100%;
//     padding: 5px;
//     margin: 0;
// }
